@keyframes glissementEntrantDroite {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glissementEntrantGauche {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glissementSortantDroite {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes glissementSortantGauche {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-500px);
        opacity: 0;
    }
}


body{
    background-color: #121212;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: #A84825;
    font-family: 'Bodoni Moda', sans-serif;
    font-weight: 800;
    font-size: 90px;
    position: relative;
}

/*--- Contacts ---*/
#contact {
    position: absolute;
    overflow: hidden;
    display: grid;
    border-radius: 40px;
    right: 0;
    padding:20px;
    z-index: 100;
}

#contact-info-container {
    display: grid;
    gap: 15px;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
    transform: translate(500px, -500px);
    transition: transform 0.5s,
    opacity 0.3s ease-out 0.1s,
    max-width 0.3s ease-out,
    max-height 0.3s ease-out;
}

#contact.afficheInfos #contact-info-container {
    max-width: 100vh;
    max-height: 100vh;
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    transition: transform 0.5s cubic-bezier(0.34, 1.12, 0.64, 1),
    opacity 0.2s ease-in,
    max-width 0.4s ease-in 0.1s,
    max-height 0.4s ease-in 0.1s;
}

.infos-contact {
    font-family: 'Arial', sans-serif;
    color:#F2F2F2;
    font-size: 20px;
    text-align: left;
    transition: all 0.3s ease-out;
}

.infos-contact:hover {
    transform: translate(5px,-5px);
    color: #A84825;
}

.infos-contact img{
    vertical-align: middle;
}

#btn-contact img{
    display: block;
    margin-left: auto;
}

/*--- Corps de page ---*/
main{
    margin-left: 50px;
    margin-right: 50px;
    color: #F2F2F2;
    flex: 1;
}


/* --- Commun pages --- */
.section {
    display: none;
}

.flou{
    background: rgba(173, 173, 173, 0.1);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
}

a{
    text-decoration: none;
    color: #F2F2F2;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.entrantDroite{
    animation: glissementEntrantDroite 0.5s ease-in-out forwards;
}

.entrantGauche{
    animation: glissementEntrantGauche 0.5s ease-in-out forwards;
}

.sortantDroite{
    animation: glissementSortantDroite 0.5s ease-in-out forwards;
}

.sortantGauche{
    animation: glissementSortantGauche 0.5s ease-in-out forwards;
}

.separateurHorizontal{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 50px;
}

.separateurVertical{
    width: 2px;
    height: 160px;
    background-color: #A84825;
}

.rond {
    width: 20px;
    height: 20px;
    border: 2px solid #A84825;
    border-radius: 50%;
    padding:5px;
    transition: all 0.2s ease-in-out;
}

.rond-actif {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A84825;
}


/* --- Page Mathis --- */
#skills{
    display: block;
}

#mathis .content{
    display: grid;
    gap: 50px;
}

#mathis .titre{
    font-weight: bold;
    font-size: 40px;
}

#mathis .text{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
}

#mathis .content-gauche{
    justify-self: left;
    text-align: left;
    width:60%;
}

#mathis .content-droite{
    justify-self: right;
    text-align: right;
    width:60%;
}

#mathis I{
    color: #A84825;
}


/* --- Page Projets --- */



/* --- Page Skills --- */



/* --- Page Parcours Ordinateur --- */
#parcours .content-ordinateur{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-auto-rows: auto auto auto;
    align-items: center;
}

/* Colonne 1*/
.content-ordinateur .col1{
    grid-column: 1;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;
}
.content-ordinateur .col1 .row1{
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    align-self: center;
    margin: 20px;
    grid-row: 1;
    transition: all 0.3s ease-in-out;
}
.content-ordinateur .col1 .row2{
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    align-self: center;
    margin: 20px;
    grid-row: 3;
    transition: all 0.3s ease-in-out;
}

/* Colonne 2*/
.content-ordinateur .col2{
    grid-column: 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;
    justify-items: center;
}
.content-ordinateur .col2 .row1{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-ordinateur .col2 .row2{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-ordinateur .col2 .row3{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Colonne 3*/
.content-ordinateur .col3{
    grid-column: 3;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;
    text-align: left;
}
.content-ordinateur .col3 .row2{
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    align-self: center;
    margin: 20px;
    grid-row: 2;
    transition: all 0.3s ease-in-out;
}

.content-ordinateur .col1 .row1:hover,
.content-ordinateur .col1 .row2:hover,
.content-ordinateur .col3 .row2:hover{
    transform: scale(1.01);
}

#parcours .titre{
    font-weight: bold;
    font-size: 25px;
}

#parcours .sous-titre{
    font-style: italic;
    font-size: 18px;
}

/* --- Page Parcours Telephone --- */
#parcours .content-telephone{
    display: none;
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto auto  auto;
    align-items: center;
    justify-content: center;
}

.content-telephone .col1{
    grid-column: 1;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;
}

.content-telephone .col1 .row1{
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-telephone .col1 .row2{
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-telephone .col1 .row3{
    grid-row: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-telephone .col2{
    grid-column: 2;
    grid-row: 1 / 4;
    display: grid;
    grid-template-rows: subgrid;
}

.content-telephone .col2 .row1{
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    align-self: center;
    margin: 10px;
    grid-row: 1;
    transition: all 0.3s ease-in-out;
}

.content-telephone .col2 .row2{
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    align-self: center;
    margin: 10px;
    grid-row: 2;
    transition: all 0.3s ease-in-out;
}

.content-telephone .col2 .row3{
    background-color: rgb(40, 40, 40);
    border-radius: 30px;
    align-self: center;
    margin: 10px;
    grid-row: 3;
    transition: all 0.3s ease-in-out;
}

.content-telephone .col2 .row1:hover,
.content-telephone .col2 .row2:hover,
.content-telephone .col2 .row3:hover{
    transform: scale(1.01);
}

#parcours .header{
    background-color: #A84825;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
}

#parcours .main{
    padding: 15px;
}


/* --- Copyright --- */
footer {
    color: #A84825;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}


/* --- Navigation --- */
nav{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
}

#pages{
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-radius: 50px;
    gap: 10px;
    margin-bottom: 3px;
    transition: transform 0.5s ease-in-out;
    padding: 10px 15px 10px 15px;
}

.page:hover{
    background-color: rgb(255,255,255,0.1);
}

.page{
    transition: all 0.3s ease-in-out;
    padding: 5px 30px 5px 30px;
    border-radius: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}

#pages a{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active-page{
    transform: scale(1.1);
    color: #A84825;
    background-color: rgb(255,255,255,0.1);
}


/* Téléphones */
@media (max-width: 780px) {
    header{
        display:  flex;
        margin: 30px;
        font-size: 60px;
    }

    #btn-contact img{
        width: 30px;
        height: 30px;
    }

    .infos-contact {
        font-size: 14px;
    }

    .infos-contact img{
        width: 24px;
        height: 24px;
    }

    main{
        margin-left: 30px;
        margin-right: 30px;
    }

    #mathis .titre{
        font-size: 25px;
    }

    #mathis .text{
        font-size: 16px;
    }

    #mathis .content-droite,
    #mathis .content-gauche{
        width: 100%;
    }

    #pages{
        gap:0;
        padding: 5px 7px 5px 7px;
    }

    #pages a{
        gap:0;
        line-height: 1;
    }

    .page{
        padding: 5px 15px 5px 15px;
    }

    .page img{
        width: 30px;
        height: 30px;
    }

    nav{
        font-size: 16px;
    }

    .active-page {
        transform: scale(1.03);
    }

    #parcours .titre {
        font-size: 20px;
    }

    #parcours .sous-titre {
        font-size: 16px;
    }

    footer{
        font-size: 14px;
    }

    #parcours .content-ordinateur{
        display: none;
    }

    #parcours .content-telephone{
        display: grid;
    }

    .separateurVertical{
        height: 300px;
    }
}