/*Animations de changements de page*/
@keyframes glissementEntrantDroite {
    from {
        transform: translateX(500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glissementEntrantGauche {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes glissementSortantDroite {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes glissementSortantGauche {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-500px);
        opacity: 0;
    }
}

@keyframes apparition {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes disparition {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.entrantDroite{
    animation: glissementEntrantDroite 0.3s ease-in-out forwards;
}

.entrantGauche{
    animation: glissementEntrantGauche 0.3s ease-in-out forwards;
}

.sortantDroite{
    animation: glissementSortantDroite 0.3s ease-in-out forwards;
}

.sortantGauche{
    animation: glissementSortantGauche 0.3s ease-in-out forwards;
}

.apparaitre{
    animation: apparition 0.4s ease-in-out forwards;
}

.disparaitre{
    animation: disparition 0.4s ease-in-out forwards;
}


/* --- Commun pages --- */
body{
    background-color: #121212;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    color: #A84825;
    font-family: 'Bodoni Moda', sans-serif;
    font-weight: 800;
    font-size: 90px;
    position: relative;
}


#contact {
    position: absolute;
    overflow: hidden;
    display: grid;
    border-radius: 40px;
    right: 0;
    padding:20px;
    z-index: 100;
}

#contact-info-container {
    display: grid;
    gap: 15px;
    max-width: 0;
    max-height: 0;
    opacity: 0;
    margin-top: 0;
    pointer-events: none;
    transform: translate(500px, -500px);
    transition: transform 0.5s,
    opacity 0.3s ease-out 0.1s,
    max-width 0.3s ease-out,
    max-height 0.3s ease-out;
}

#contact.afficheInfos #contact-info-container {
    max-width: 100vh;
    max-height: 100vh;
    opacity: 1;
    pointer-events: all;
    transform: translate(0, 0);
    transition: transform 0.5s cubic-bezier(0.34, 1.12, 0.64, 1),
    opacity 0.2s ease-in,
    max-width 0.4s ease-in 0.1s,
    max-height 0.4s ease-in 0.1s;
}

.infos-contact {
    color:#F2F2F2;
    font-size: 20px;
    text-align: left;
}

.link{
    transition: all 0.3s ease-out;
}

.link:hover {
    color: #A84825 !important; /*pour que la couleur orange prenne le dessus sur la blanche donné dans infos-contact*/
    transform: translate(5px,-5px);
}

.infos-contact img{
    vertical-align: middle;
}

#btn-contact img{
    display: block;
    margin-left: auto;
}

main{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    color: #F2F2F2;
    flex: 1;
}

.page{
    display: none;
}

#mathis{
    display: block;
}

.flou{
    background: rgba(50, 50, 50, 0.2);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(173, 173, 173, 0.3);
}

#contact a,
nav a{
    text-decoration: none;
    color: #F2F2F2;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.separateurHorizontal{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 1px solid rgb(255,255,255,0.1);
    border-radius: 50px;
}

.separateurVertical{
    width: 2px;
    height: 200px;
    background-color: #A84825;
}

.rond {
    width: 20px;
    height: 20px;
    border: 2px solid #A84825;
    border-radius: 50%;
    padding:5px;
    transition: all 0.2s ease-in-out;
}

.rond-actif {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #A84825;
}

I{
    color: #A84825;
    font-weight: bold;
}



/* --- Page Mathis --- */
#mathis .content{
    display: grid;
    gap: 50px;
}

#mathis .titre{
    font-weight: bold;
    font-size: 40px;
}

#mathis .text{
    font-size: 20px;
    font-weight: normal;
    line-height: 1.5;
    text-align: justify;
}

#mathis .content-gauche{
    justify-self: left;
    text-align: left;
    width:60%;
    margin-bottom:50px;
}

#mathis .content-droite{
    justify-self: right;
    text-align: right;
    width:60%;
}


/* --- Page Projets --- */
#projets .titre{
    grid-column: 1/3;
    grid-row: 1;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Bodoni Moda', sans-serif;
}

#projets .text{
    grid-column: 2;
    grid-row: 2;
    text-align: justify;
    padding-right: 15px;
    max-height: 335px;
    overflow-y: auto;
}

a{
    color: #A84825;
}

#projets .legende{
    grid-column: 1;
    grid-row: 3;
    text-align: left;
    font-style: italic;
}

#projets .github{
    grid-column: 2;
    grid-row: 3;
    text-align: right;
}
#projets .github img{
    width: 30px;
    height: 30px;
    transition: all 0.4s ease-in-out;
}
#projets .github img:hover{
    transform: translate(5px,-5px);
}


#projets .titre,
#projets .text,
#projets .legende,
#projets .github{
    display: none;
}
#projets .central .legende,
#projets .central .titre,
#projets .central .text,
#projets .central .github{
    display: block;
}

#projets .content{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

#projets .projet{
    display: none;
    flex-direction: column;
    gap: 30px;
    background: rgba(30, 30, 30, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    color: #F2F2F2;
    transition: all 0.3s ease-in-out;
}
#projets .projet .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#projets .central{
    border: 4px solid #A84825;
    padding: 30px;
    transform: scale(1.1) translateX(0);
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 1;
    border-radius: 30px;
}
#projets .central .image {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}
#projets .central .image img{
    transition: all 2s ease-in-out;
}
#projets .central .image img:hover{
    transform: scale(1.3);
}

#projets .gauche{
    border-radius: 20px;
    border: 3px solid #A84825;
    transform: scale(0.9) translateX(50px);
    grid-column: 1;
    grid-row: 1;
    display: flex;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
#projets .gauche:hover{
    border: 4px solid #A84825;
    transform: translateX(80px);
    opacity: 0.7;
}

#projets .droite{
    border-radius: 20px;
    border: 3px solid #A84825;
    transform: scale(0.9) translateX(-50px);
    grid-column: 3;
    grid-row: 1;
    display: flex;
    opacity: 0.5;
    transition: all 0.5s ease-in-out;
}
#projets .droite:hover{
    border: 4px solid #A84825;
    transform: translateX(-80px);
    opacity: 0.7;
}

#projets .gauche .image,
#projets .droite .image {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}


/* --- Page Skills --- */
#skills .navigateur{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: rgba(200, 200, 200,0.2) 2px 2px 2px;
}
#skills header{
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    background: #A84825;

    border-bottom: 1px solid #A84825;
    color:#F2F2F2;
}
#skills .titre{
    font-size: 30px;
    font-weight: bold;
}
#skills .nav-link{
    color: white;
    border-radius: 50px;
    padding: 10px;
    background: rgb(40, 40, 40);
    border: 2px solid #A84825;
    font-size: 20px;
    width: 80%;
}
#skills .boutons-navigateur{
    display: flex;
    gap: 10px;
}
#skills .bouton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#skills .reduire:hover{
    background:rgb(0, 255, 0,0.5);
    color: black;
}
#skills .retrecir:hover{
    background:rgb(255, 255, 0,0.5);
    color: black;
}
#skills .fermer:hover{
    background:rgb(255, 0, 0,0.5);
    color: black;
}

#skills main{
    margin: 0;
    background: rgb(40, 40, 40);
    padding:50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow-y: auto;
}
#skills .categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 100px;
    padding: 50px;

}
#skills .categorie{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    cursor: pointer;
    padding:10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
}
#skills .categorie:hover{
    transform: rotateY(180deg);
    background: #A84825;
}
#skills .titre {
    font-weight: bold;
    font-size: 30px;
}
#skills .categorie .text {
    display: none;
    opacity: 0;
    width:fit-content;
    text-align: left;
    font-weight: bold;
    transform: rotateY(180deg);
}


/* --- Page Parcours --- */
#parcours .content{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

#parcours .header{
    background-color: #A84825;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px;
}

#parcours .titre{
    font-weight: bold;
    font-size: 25px;
}

#parcours .sous-titre{
    font-style: italic;
    font-size: 18px;
}

#parcours .main{
    padding: 15px;
}

#parcours .conteneur{
    background-color: rgb(40, 40, 40);
    border-radius: 20px;
    align-self: center;
    margin: 20px;
    transition: all 0.3s ease-in-out;
}

#parcours .parcours3{
    grid-column: 1;
    grid-row: 1;
}
#parcours .parcours2{
    grid-column: 3;
    grid-row: 2;
    transition: all 0.3s ease-in-out;
}
#parcours .parcours1{
    grid-column: 1;
    grid-row: 3;
    transition: all 0.3s ease-in-out;
}

#parcours .parcours1:hover,
#parcours .parcours2:hover,
#parcours .parcours3:hover{
    transform: scale(1.01);
}

#parcours .ligne-chronologique {
    display: contents; /*ses enfants deviennent enfants directs de sa div parente*/
}

#parcours .ligne-chronologique .row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
}

#parcours .ligne-chronologique .row2{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 2;
}

#parcours .ligne-chronologique .row3{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2;
    grid-row: 3;
}


    /* --- Copyright --- */
footer {
    color: #A84825;
    padding: 20px;
    text-align: center;
    margin-bottom: 0;
}


/* --- Navigation --- */
nav{
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 999;
}

#sections{
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-radius: 50px;
    gap: 10px;
    margin-bottom: 3px;
    transition: transform 0.5s ease-in-out;
    padding: 10px 13px 10px 13px;
}

.section:hover{
    background-color: rgb(255,255,255,0.1);
}

.section{
    transition: all 0.3s ease-in-out;
    padding: 5px 25px 5px 25px;
    border-radius: 40px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
}

#sections a{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.section-active{
    transform: scale(1.1);
    color: #A84825;
    background-color: rgb(255,255,255,0.1);
}



/* Téléphones */
@media (max-width: 780px) {
    header{
        display:  flex;
        margin: 30px;
        font-size: 60px;
    }

    #btn-contact img{
        width: 30px;
        height: 30px;
    }
    .infos-contact {
        font-size: 14px;
    }
    .infos-contact img{
        width: 24px;
        height: 24px;
    }

    main{
        margin-left: 30px;
        margin-right: 30px;
    }

    #mathis .titre{
        font-size: 25px;
    }
    #mathis .text{
        font-size: 16px;
    }
    #mathis .content-droite,
    #mathis .content-gauche{
        width: 100%;
    }

    #parcours .conteneur{
        margin: 10px;
    }
    #parcours .titre {
        font-size: 20px;
    }
    #parcours .sous-titre {
        font-size: 16px;
    }
    #parcours .parcours3{
        grid-column: 2;
        grid-row: 1;
    }
    #parcours .parcours2{
        grid-column: 2;
        grid-row: 2;
    }
    #parcours .parcours1{
        grid-column: 2;
        grid-row: 3;
    }
    #parcours .ligne-chronologique .row1{
        grid-column: 1;
    }
    #parcours .ligne-chronologique .row2{
        grid-column: 1;
    }
    #parcours .ligne-chronologique .row3{
        grid-column: 1;
    }

    nav{
        font-size: 16px;
    }
    #sections{
        gap:0;
        padding: 5px 7px 5px 7px;
    }
    #sections a{
        gap:0;
        line-height: 1;
    }
    .section{
        padding: 5px 15px 5px 15px;
    }
    .section-active {
        transform: scale(1.03);
    }
    .section img{
        width: 30px;
        height: 30px;
    }

    footer{
        font-size: 14px;
    }
}